@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins&display=swap");

body {
  font-family: "Montserrat", sans-serif;
}

p,
a,
ul li {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
}

.site-footer {
  background: #030303;
  color: #fff;
}

.footer-widgets {
  padding-top: 60px;
}

.site-info {
  padding: 25px 0 20px;
}
